<!DOCTYPE html>
<meta charset="UTF-8" />
<html>
<head>
    <title>POI Click Events</title>
    <!-- jQuery ui style sheet -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- jQuery ui library -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0ao_N1YT0rqUYNCr0bLkQtD6gtYbyGKI&callback=initMap&libraries=places&v=weekly&region=kr"
            defer
    ></script>
    <style type="text/css">
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
            height: 100%;
        }

        /* Optional: Makes the sample page fill the window. */
        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
        }


    </style>
    <script>


        "use strict";
        var service;
        var map;

        function initMap() {

            //좌표
            const origin = {
                lat: 37.566686,
                lng: 126.978122
            };
            map = new google.maps.Map(document.getElementById("map"), {
                zoom: 18,
                center: origin,
            });
            $.ajax({
                type: 'GET',
                url: '/places.ajax',
                data: {},
                success: function (response) {
                    console.log(response);
                        callback(response)
                }
            })

/*            service = new google.maps.places.PlacesService(map);
            //poi 불러와주는 함수
            service.nearbySearch({
                location:origin,
                radius: 500,
                type:['point_of_interest',],
            },callback);*/

            //마커 기본요소 정하는 함수
            function createMarker(place){

                var location = {lat:parseFloat(place.mapPositionY) ,lng:parseFloat(place.mapPositionX)};
                var marker = new google.maps.Marker({
                    position:location,
                    map: map,
                    title: place.postSj,
                    animation: google.maps.Animation.DROP,
                });
                let infowindow = new google.maps.InfoWindow({
                });
                infowindow.setContent(
                    "<div><strong>" +
                    place.postSj+
                    "</strong><br>" +
                    "소개: " +
                    place.sumry +
                    "<br>" +
                    "상세주소:"+
                    place.adres+
                    "</div>"
                );
                marker.addListener('click', () => {
                    //툴팁에 뿌려주는 기능
                    infowindow.open(map,marker);
                });
            }


            //마커 찍어주는 함수
            function callback(results) {
                    for(var i = 0; i< results.length;i++){
                        createMarker(results[i]);
                        //마커 클릭 이벤트

                    }
            }
        }

    </script>
</head>
<body>
<div id="map"></div>

</body>
</html>